:root{
    font-size: 10px;
    --hover-color01: #C81D31;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


header{
    background-color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 10% 70% 20%;
    position: fixed;
    top: 0%;
    z-index: 1;
    width: 100%;
    padding: 5px 8px;
}

header ul{
    display: flex;
    list-style: none;
    font-weight: 900;
}

header ul li{
    margin-right: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
}
header ul li:nth-last-child(1){
    margin-right: 0;
}
header ul li:hover{
    transition: 0.2s;
    color: var(--hover-color01);
}

#home{
    justify-self: start;
}

#home img{
    cursor: pointer;
    width: 15rem;
}
#home img:hover{
    transition: 0.2s;
    opacity: 70%;
}


#slider{
    overflow: hidden;
}

.slides{
    position: relative; 
    width: 500%;
    margin:0;
    left: 0;
    animation: 20s slider infinite;
}

.slides img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.carousel-container{
    overflow: hidden;
    position: relative;    
    height: 100vh;
    width: 100%;
    margin-top: 1.6rem;
}

.carousel{
    height: 100vh;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.slide{
    width: 100vw;
    text-align: center;
}

.slide img{
    height: 90vh;
    align-self: center;
    object-fit: cover;
    cursor: pointer;
}

.arrow{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.9;
}

.left-arrow{
    left:20rem
}

.right-arrow{
    right: 20rem;
}

button img{
    width: 25px;
}
.banner{
    cursor: pointer;
}
#banner1{
    cursor: pointer;
    height: 618px;
}

.text-banner1{
    color: white;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: -360px;
}

#banner2{
    position: relative;
    bottom: 60px;
    height: 580px;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 550px;
    padding: 10px 0;
}
.left-column-footer{
    display: flex;
    width: 50%;
    height: 100%;
}
.left-column-footer div{
    width: 50%;
}

.left-column-footer ul a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.4rem;
}
.left-column-footer ul a:hover{
    transition: 0.3s;
    color: rgb(96, 96, 96);
}
.left-column-footer ul h3{
    font-size: 1.3rem;
    font-weight: 300;
}

.left-column-footer ul li{
    margin-top: 20px;
}

.left-column-footer ul{
    margin-bottom: 5rem;
    list-style: none;
}



.right-column-footer{
    width: 45%;
    height: 100%;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}

h3{
    margin-bottom: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

.email-box{
    font-weight: bold;
    margin: 2rem 0;
}
.email-box p{
    margin-bottom: 2px;
}
.email-box input{
    box-sizing: border-box;
    padding: 11px 8px 11px 6px;
    background-color: transparent;
    border:1px solid white;
    width: 100%;
}
.email-box input:focus{
    color: white;
    border:1px solid white
}

.check-interesed{
    display: flex;
    align-items: center;
}
.check-interesed p{
    margin: 2px;
    font-weight: bold;
}
.check-interesed label{
    cursor: pointer;
    margin-right: 1rem;
}

.check-interesed input{
    cursor: pointer;
}
.termi-conditions a{
    color: white;
    font-weight: bold;
    margin: 0 2px;
}
.termi-conditions a:nth-child(2){
    margin-left: 0;
}

.signup{
    padding: 11px 8px;
    background-color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
}
.signup:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
}